body {
    margin: 0; 
    font-weight: 100;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.header__section {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: none;
    animation: animate 30s ease infinite ;
    font-weight: 200
}

.header__link {
    text-decoration: none;
}

.header__title {
    font-weight: 500;
    color: #BFDBF7;
}


.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
}


.header__links {
    text-decoration: none;
    color: #BFDBF7;
}

.header__item {

}

.about__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.about__us {
    
}